:root {
  --white-color: #ffffff;
  --grey-light-color: #f3f4f8;
  --grey-color: #dadce6;
  --grey-medium-color: #817d7d;
  --grey-dark-color: #333333;
  --green-color: #6caf5c;
  --blue-color: #6887df;
  --blue-dark-color: #3a57ca;
}