@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.woff2') format('woff2'),
      url('../fonts/GothamPro.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamProMedium.woff2') format('woff2'),
      url('../fonts/GothamProMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamProBold.woff2') format('woff2'),
      url('../fonts/GothamProBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamProBlack.woff2') format('woff2'),
      url('../fonts/GothamProBlack.woff') format('woff');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSansRegular.woff2') format('woff2'),
      url('../fonts/PTSansRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo20';
  src: url('../fonts/Exo20Light.woff2') format('woff2'),
      url('../fonts/Exo20Light.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --white-color: #ffffff;
  --grey-light-color: #f3f4f8;
  --grey-color: #dadce6;
  --grey-medium-color: #817d7d;
  --grey-dark-color: #333333;
  --green-color: #6caf5c;
  --blue-color: #6887df;
  --blue-dark-color: #3a57ca;
}

body {
  font-family: 'GothamPro', sans-serif;
  font-size: 13px;
  font-style: normal;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1000px;
}

.heading {
  font-family: 'Exo20', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 36px;
  color: var(--green-color);
}

.header-wrap {
  padding-top: 17px;
  padding-bottom: 19px;
}

.logo__link {
  width: 184px;
}
.logo__img {
  width: 100%;
  height: 43px;
}

.share__item {
  width: 125px;
  height: 20px;
}

.share__item:not(:last-child) {
  margin-right: 20px;
}

.main {
  padding-bottom: 30px;
}

.main__heading {
  text-align: right;
  padding-right: 110px;
  padding-top: 87px;
  padding-bottom: 39px;
  font-weight: 900;
  font-size: 60px;
  color: var(--grey-dark-color);
  background-image: url('../img/excel.png');
  background-repeat: no-repeat;
  background-position: 53px 59px;
}

.color-accent {
  color: var(--green-color);
}

.main__subheading {
  margin-bottom: 40px;
  max-width: 465px;
  margin-left: auto;
  margin-right: 160px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: var(--dark-grey-color);
}

.main__how {
  margin-top: 55px;
}

.how__link {
  padding-top: 60px;
  background-image: url('../img/how.png');
  background-repeat: no-repeat;
  background-position: 50% 12px;
  font-family: 'GothamPro', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: var(--blue-dark-color);
}

.main__btn {
  width: 200px;
  padding: 15px;
  font-family: 'GothamPro', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--blue-color);
  color: var(--white-color);
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px var(--blue-dark-color);
  -webkit-box-shadow: 0px 2px var(--blue-dark-color);
}

.main__btn:hover {
  background-color: var(--blue-dark-color);
}

.main__btn:active {
  background-color: var(--green-color);
  box-shadow: 0px 2px var(--green-color);
  -webkit-box-shadow: 0px 2px var(--green-color);
}

.form__checkbox {
  margin-top: 20px;
  max-width: 200px;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked)+label {
  display: inline-block;
  position: relative;
  padding-left: 19px;
  font-family: 'PTSans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: var(--grey-medium-color);
  cursor: pointer;
}

input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 12px;
  height: 12px;
  border: 1px solid var(--grey-medium-color);
  border-radius: 4px;
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 3px;
  top: 4px;
  width: 7px;
  height: 4px;
  border-radius: 1px;
  border-left: 2px solid var(--green-color);
  border-bottom: 2px solid var(--green-color);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
}

input[type="checkbox"]:checked+label:after {
  opacity: 1;
}

.main__sup {
  width: 75px;
  height: 85px;
}

.about {
  padding-top: 33px;
  padding-bottom: 71px;
  background-color: var(--grey-light-color);
}

.about__text {
  padding-top: 32px;
}

.weight-accent {
  color: var(--dark-grey-color)
}

.about__list-item {
  font-style: normal;
  color: var(--grey-medium-color);
}

.about__list-item {
  margin-left: 33px;
  padding-left: 5px;
  line-height: 20px;
}

.about__list-item:not(:last-child) {
  padding-bottom: 10px;
}

.about__list-item:first-child {
  padding-top: 22px;
}
  
.about__right {
  max-width: 344px;
}

.youtube {
  width: 344px;
  height: 237px;
  margin-top: 64px;
  margin-bottom: 29px;
}

.about__button {
  padding: 10px 15px;
  margin-left: 18px;
  border: 1px solid var(--blue-color);
  border-radius: 5px;
  background-color: var(--grey-light-color);
  color: var(--blue-color);
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
}

.about__button:hover {
  color: var(--grey-light-color);
  background-color: var(--blue-color);
}

.about__button:active {
  color: var(--grey-light-color);
  background-color: var(--green-color);
  border: 1px solid var(--green-color);
}

.features {
  padding-top: 64px;
}

.features__list {
  margin-bottom: 90px;
}

.features__list-item {
  max-width: 201px;
  padding-top: 121px;
  margin-bottom: 85px;
  color: var(--grey-medium-color);
  background-repeat: no-repeat;
  background-position: 70px 45px;
  list-style-type: none;
}

.features__list-item-extension {
  background-image: url('../img/extension.png');
}

.features__list-item-win {
  background-image: url('../img/win.png');
}

.features__list-item-size {
  background-image: url('../img/size.png');
}

.features__list-item-fix {
  background-image: url('../img/fix.png');
}

.features__screenshots {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  width: 492px;
  height: 94px;
}

.features__paragraph {
  margin-bottom: 50px;
  max-width: 770px;
  color: var(--grey-medium-color);
}

.features__warning {
  padding-top: 27px;
  padding-bottom: 35px;
  margin-bottom: 94px;
  font-style: normal;
  color: var(--grey-medium-color);
  background-color: var(--grey-light-color);
}

.footer__copyright {
  margin-bottom: 30px;
  font-size: 12px;
  font-style: normal;
  line-height: 15px;
  color: var(--grey-medium-color);
  text-align: center;
}

.line-accent {
  height: 3px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background: var(--grey-medium-color);
}

.social__list {
  margin-bottom: 50px;
}

.social__list-item {
  list-style-type: none;
}

.social__list-item:not(:last-child) {
  margin-right: 5px;
}

.social__img {
  width: 42px;
  height: 42px;
}

@media (max-width: 940px) {
    .main {
      padding-bottom: 20px;
    }
    .main__heading {
      text-align: center;
      padding-left: 5px;
      padding-right: 5px;
      background-image: none;
    }
    .main__subheading {
      margin-left: auto;
      margin-right: auto;
    }
  
    .about__heading {
      text-align: center;
    }
}